.mat-expansion-list {
    box-sizing: content-box;
    display: block;
}

.mat-expansion-list-content {
    overflow: hidden;
}

.mat-expansion-list-body {
    // padding: 0 24px 16px;
    padding: 0;
}